<section class="py-0 pt-7 bg-1000 mt-5">

  <div class="container">
    <div class="row flex-center pb-5">
      <div class="col-md-6 order-0">
        <p class="text-200 text-center text-md-start">All rights Reserved &copy; Kelompok 4, 2023</p>
      </div>
      <div class="col-md-6 order-1">
        <p class="text-200 text-center text-md-end"> Made with&nbsp;
          <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#FFB30E" viewBox="0 0 16 16">
            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
          </svg>&nbsp;by&nbsp;<a class="text-200 fw-bold" href="#" target="_blank">Kelompok 4 </a>
        </p>
      </div>
    </div>
  </div><!-- end of .container-->

</section>